/**
 * Theme Name: WPCartagena
 * Description: Made thanks to the _child Boilerplate Child Theme
 * Theme URI: https://github.com/WPCartagena/WPCartagena
 * Author: basado en mrahmadawais, WPTie
 * Author URI: http://clipper.tk/
 * Template: twentyseventeen
 * Version: 1.0.0
 * @package aa
 */

/* TABLA DE CONTENIDO
1.0 Normalize
2.0 Accessibility
3.0 Alignments
4.0 Clearings
5.0 Typography
6.0 Forms
7.0 Formatting
8.0 Lists
9.0 Tables
10.0 Links
11.0 Featured Image Hover
12.0 Navigation
13.0 Layout
   13.1 Header
   13.2 Front Page
   13.3 Regular Content
   13.4 Posts
   13.5 Pages
   13.6 Footer
14.0 Comments
15.0 Widgets
16.0 Media
   16.1 Galleries
17.0 Customizer
18.0 SVGs Fallbacks
19.0 Media Queries
20.0 Print
*/

/*
.entry-title,
.site-title,
.page-title,
.post-navigation .post-title,
.comment-reply-title,
 button,
 input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
 }

.widget .widget-title,
.page-title {
     font-family: 'Roboto', sans-serif;
 }

.site-title {
    font-size: 3rem;
    text-transform: none;
 }

 .site-title,
 .post-navigation .post-title {
     font-weight: normal;
 }

 .entry-title {
    font-weight: lighter;
 }

.page-title {
     color:#007acc;
 }
*/

/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/
body, button, input, select, textarea {
    font-family: Georgia, Georgia, Times, "Times New Roman", serif;
}


.entry-title,
.site-title,
.page-title,
 nada {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
 }

 /*--------------------------------------------------------------
 10.0 Links
 --------------------------------------------------------------*/

 a {
 	color: #222;
 	text-decoration: none;
 }

 a:focus {
 	outline: thin dotted;
 }

 a:hover,
 a:active {
 	color: #000;
 	outline: 0;
 }

 /* Hover effects */

/*
 .entry-content a,
 .entry-summary a,
 .widget a,
 .site-footer .widget-area a,
 .posts-navigation a,
 .widget_authors a strong {
 	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
 	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
 	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
 	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
 	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
 	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
 }
 */
 .entry-content a,
 .entry-summary a,
 .widget a,
 .site-footer .widget-area a,
 .posts-navigation a,
 .widget_authors a strong {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
  transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
}


/*--------------------------------------------------------------
13.1 Header
--------------------------------------------------------------*/
/* Site branding */

.site-title {
   font-size: 3rem;
   font-weight: normal;
}

.site-title {
  text-transform:none;
}

/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/

.entry-content blockquote p {
  border: 0 solid #1a1a1a;
  border-left-width: thin;
  padding-left: 20px;
}

body {
  box-shadow: none;
}

.wrap a:hover{
  box-shadow: none;
  transition: opacity 0.3s ease-in-out;
  color: #007acc;
}
